@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    display: block;
  }

  body, h1, h2, h3, h4, p {
    margin: 0;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

nav, main {
}

main {
  height: 100%;
}

footer, nav > header {
  font-size: 20vh;
}

body {
  height: 100vh;
}

.grid-n {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr))
  grid-template-rows: repeat(auto-fit, minmax(min(200px, 100%), 1fr))
}

.grid-rows {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min(201px, 100%), 1fr))
}

.grid-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr))
}


nav {
  height: 20vh;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
}

main {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: span 3;
}

main > header {
  width: 20vw;
  grid-column: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}

section {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
}

aside {
  width: 20vw;
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}

footer {
  height: 20vh;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 5;
  grid-row-end: span 1;
}

nav, main, footer {
}

nav {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

nav > ol {
  display: flex;
  gap: 1rem;
}

article {
  margin-top: 1rem;
}
